<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/static/css/main.css" />
	</head>
	<h1><%= title %></h1>
	<div id="ready"></div>
	<div id="ready2"></div>
	<div id="ready3"></div>
	<script src="/static/bower_components/jquery/dist/jquery.js"></script>
	
	<script src="/static/js/dispatch.js"></script>
	<script src="/static/js/mocks.js"></script>
	<script src="/static/bower_components/jsr-mocks/dist/jsr-mocks.js"></script>
	<script>
	var $config = {
		jsr: {
			myFunction :'{!$RemoteAction.ContactGraphCtrlExt.myFunction}'
		}
	}
	</script>
	<script src="/static/js/module.js"></script>
	<script src="/static/js/main.js"></script>
</html>